Repository pickyzz/blog-rebuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,astro}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --write"
  ]
}

ci: rewrite github workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: prettier --write

chore: optimizing & style
  src/components/Image.astro
  src/components/Pagination.astro
  src/layouts/PostDetails.astro
  src/pages/robots.txt.ts
  src/utils/imageOptimization.ts
Due: prettier --write, eslint --fix

ci: fix check script
  package.json
Due: prettier --write

fix: ci error
  .github/workflows/ci.yml
  src/components/Image.astro
Due: prettier --write, eslint --fix

ci: fix test
  .github/workflows/ci.yml
Due: prettier --write

fix: ci
  .github/workflows/ci.yml
Due: prettier --write

fix: ci again
  .github/workflows/ci.yml
  astro.config.mjs
  src/components/Image.astro
  src/layouts/PostDetails.astro
  src/utils/imageOptimization.ts
Due: prettier --write, eslint --fix

Auto updated with new content
  bun.lock
Due: none

ci: rewrite
  .github/workflows/ci.yml
Due: prettier --write

ci: optimize GitHub Actions workflow
  .github/workflows/ci.yml
Due: prettier --write

test: logs key
  logs.txt
Due: none

chore: libs
  src/libs/getLogs.js
  src/libs/notion.js
Due: prettier --write, eslint --fix

chore: libs update
  logs.txt
  src/libs/getLogs.js
Due: prettier --write, eslint --fix

chore: lib clean
  package.json
  src/helpers/delay.mjs
  src/helpers/images.mjs
  src/libs/notion.js
Due: prettier --write, eslint --fix

chore: perf && style
  package.json
  src/components/Waline.astro
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/tests/index.spec.ts
Due: prettier --write, eslint --fix

fix: build error
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/libs/getLogs.js
Due: prettier --write, eslint --fix

chore: lib
  src/helpers/images.mjs
  src/libs/notion.js
Due: prettier --write, eslint --fix

chore: theme toggle rewrite & format
  .husky/pre-commit
  astro.config.mjs
  public/toggle-theme.js
  src/config.ts
  src/helpers/images.mjs
  src/layouts/PostDetails.astro
  src/libs/getLogs.js
  src/libs/notion.js
  src/tests/index.spec.ts
Due: prettier --write, eslint --fix

Copilot/fix 80f585d5 ca34 492f aaa6 ee58394895af (#1479)
  README.md
  package-lock.json
Due: prettier --write

fix: ensure Response uses Uint8Array for OG image endpoint
  src/pages/blog/[slug]/index.png.ts
  src/pages/og.png.ts
Due: prettier --write, eslint --fix

Add SSR migration plan
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Migrate to SSR with Cloudflare adapter - fix Tailwind and Resvg compatibility
  SSR_MIGRATION_PLAN.md
  astro.config.mjs
  package-lock.json
  package.json
  src/styles/global.css
  src/styles/typography.css
  src/utils/generateOgImages.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

Implement Notion API integration for SSR - fix content loading
  SSR_MIGRATION_PLAN.md
  bun.lock
  src/pages/index.astro
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Update migration plan - mark completed tasks and add progress summary
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Fix image display issues for SSR - change to passthrough image service and add fallback image
  astro.config.mjs
  src/components/Card.astro
  src/components/Image.astro
Due: prettier --write, eslint --fix

Fix syntax error in Card.astro import statement
  SSR_MIGRATION_PLAN.md
  src/components/Card.astro
Due: prettier --write, eslint --fix

Add ogImage mapping from Notion database with multiple property name support
  SSR_MIGRATION_PLAN.md
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Add support for Notion page cover images as ogImage fallback
  SSR_MIGRATION_PLAN.md
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Optimize image loading with Cloudflare Images API and lazy loading
  src/components/Card.astro
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Fix build script for SSR - handle Pagefind gracefully
  package.json
Due: prettier --write
