Repository pickyzz/blog-rebuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,astro}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --write"
  ]
}

chore: formatting code
  package.json
  src/helpers/sanitize.mjs
Due: prettier --write

Fix Vercel deploy: specify Node.js 20 runtime for Rollup native binaries
  package.json
  vercel.json
Due: prettier --write

Remove invalid functions config from vercel.json; rely on package.json engines for Node version
  vercel.json
Due: prettier --write

fix: vercel deploy error
  astro.config.mjs
  vercel.json
Due: prettier --write

fix: resolve Vercel deployment issues
  vercel.json
Due: prettier --write

fix: Duplicate dependency
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

feat: implement image proxying for Notion blocks and remove logs
  bun.lock
  logs.txt
  src/pages/api/image/[blockId].ts
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: add cache refresh endpoints and improve environment variable configuration
  example.env
  src/pages/api/refresh-cache.ts
  src/pages/api/scheduled/refresh.ts
  src/pages/api/webhook/refresh.ts
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Make dynamic Notion pages SSR to reflect live updates
  src/pages/about.astro
  src/pages/archives/index.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix

feat: enhance theme toggle functionality to support auto mode
  public/toggle-theme.js
  src/assets/icons/IconAuto.svg
  src/components/Header.astro
Due: prettier --write, eslint --fix

refactor: improve code formatting and readability across multiple files
  package.json
  public/toggle-theme.js
  src/pages/about.astro
  src/pages/api/image/[blockId].ts
  src/pages/api/refresh-cache.ts
  src/pages/api/scheduled/refresh.ts
  src/pages/api/webhook/refresh.ts
  src/pages/index.astro
  src/styles/typography.css
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

notion: add data-large for proxied images; fallback for blurry-load image loader
  package-lock.json
  package.json
  src/components/Card.astro
  src/components/Image.astro
  src/layouts/PostDetails.astro
  src/styles/global.css
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

notion: preserve data-large attribute; add fallback loader timeout for blurry images
  src/helpers/sanitize.mjs
Due: none

Fix card hover zoom effect by adding transform to img transition
  src/styles/global.css
  src/tests/blur-sharp.spec.ts
Due: prettier --write, eslint --fix

fix: Enhance code block styling and syntax highlighting
  bun.lock
  package.json
  scripts/test-sanitize-shiki.mjs
  scripts/test-shiki.mjs
  src/components/Image.astro
  src/helpers/sanitize.mjs
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/scripts/code-copy.js
  src/styles/codeblocks.css
  src/styles/global.css
  src/styles/typography.css
  src/tests/blur-sharp.spec.ts
  src/tests/index.spec.ts
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: Add HTML escaping and rich text rendering for Notion content
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

fix: Update TypeScript to v5.9.3 and improve copy code block functionality
  bun.lock
  src/layouts/PostDetails.astro
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: Implement API key authentication and rate limiting for secure API access
  example.env
  src/pages/api/image/[blockId].ts
  src/pages/api/refresh-cache.ts
  src/pages/api/search.json.ts
  src/utils/apiAuth.ts
  src/utils/apiSecurity.ts
  src/utils/searchUtils.ts
Due: prettier --write, eslint --fix

feat: Add search functionality with API integration and response validation
  bun.lock
  example.env
  package.json
  public/js/search.client.js
  scripts/test-search-api.mjs
  scripts/test-search-schema.mjs
  src/pages/api/search.formatters.js
  src/pages/api/search.json.ts
  src/pages/api/search.schema.js
  src/pages/search.astro
  src/tests/search.e2e.spec.ts
  src/utils/searchUtils.ts
Due: prettier --write, eslint --fix

feat: Add copy-to-clipboard functionality for code blocks
  public/scripts/code-copy.js
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

feat: Enhance image handling and proxying, add rate limiting for Notion API
  .gitignore
  src/components/Card.astro
  src/components/Image.astro
  src/config.ts
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/api/image/[blockId].ts
  src/pages/api/image/fetch-test.ts
  src/pages/api/image/proxy.ts
  src/pages/archives/index.astro
  src/pages/feed.ts
  src/utils/ensureDate.ts
  src/utils/getNotionPosts.ts
  src/utils/notionContent.ts
  src/utils/notionRateLimiter.ts
  src/utils/postFilter.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: Implement Cloudflare image caching and purging functionality
  .gitignore
  README.md
  example.env
  package.json
  scripts/cloudflare-purge.mjs
  scripts/encode-image-url.mjs
  scripts/vercel-postdeploy-purge.mjs
  src/components/Card.astro
  src/layouts/PostDetails.astro
  src/pages/api/image/p/[encoded].ts
  src/utils/cloudflarePurge.ts
  src/utils/generateOgImages.tsx
  src/utils/imageProxyCommon.ts
  src/utils/purgeList.ts
Due: prettier --write, eslint --fix

fix: LQIP generation make image blinking.
  src/components/Card.astro
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/api/image/lqip/p/[encoded].ts
  src/utils/cloudflarePurgeQueue.ts
  src/utils/generatePlaceholder.ts
  src/utils/getNotionPosts.ts
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

feat: Refactor breadcrumb logic to improve URL handling and display page numbers
  src/components/Breadcrumb.astro
Due: prettier --write, eslint --fix

feat: Add images for about page and implement image loading tests
  public/images/fcc-cert-1.png
  public/images/fcc-cert-2.png
  public/images/fcc-cert-3.png
  public/images/profile.jpg
  src/assets/images/avatar.png
  src/assets/images/blog/.gitignore
  src/assets/images/image-post.jpeg
  src/pages/about.astro
  src/tests/about-image.spec.ts
Due: prettier --write, eslint --fix

refactor: Remove unused FAQ section and static image imports from about page
  src/pages/about.astro
Due: prettier --write, eslint --fix

Fix: about image on dev staging (#1547)
  public/images/fcc-cert-1.png
  public/images/fcc-cert-2.png
  public/images/fcc-cert-3.png
  public/images/profile.jpg
  src/assets/images/avatar.png
  src/assets/images/blog/.gitignore
  src/assets/images/image-post.jpeg
  src/pages/about.astro
  src/tests/about-image.spec.ts
Due: prettier --write, eslint --fix

fix(blog): restore pagination functionality and fix archives page
  example.env
  src/components/Pagination.astro
  src/pages/archives/index.astro
  src/pages/blog/index.astro
  src/pages/blog/page/[page].astro
  src/utils/astro-isr/getStaticPaths.ts
Due: prettier --write, eslint --fix

feat(caching): implement hybrid KV cache system with Redis + Memory fallback
  scripts/prebuild-cache.mjs
  src/pages/api/revalidate/[...path].ts
  src/utils/cache/cloudflare-kv.ts
  src/utils/cache/kv-cache.ts
  src/utils/cache/memory-cache-optimized.ts
Due: prettier --write, eslint --fix

chore(deps): update package dependencies and configuration
  astro.config.mjs
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

refactor: remove deprecated blog pagination route
  src/pages/blog/[...page].astro
Due: prettier --write, eslint --fix

feat(pages): improve blog post layouts and main page functionality
  src/layouts/Layout.astro
  src/pages/blog/[slug]/index.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix

refactor(utils): improve Notion data fetching and post processing
  src/utils/getNotionPosts.ts
  src/utils/getSortedPosts.ts
  src/utils/postFilter.ts
Due: prettier --write, eslint --fix

feat(image): enhance image proxy functionality
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

test: add Playwright test for image throttle functionality
  src/tests/playwright-image-throttle.spec.ts
Due: prettier --write, eslint --fix

refactor(logging): replace file-based debug logging with console logging
  .gitignore
  example.env
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

fix(build): resolve duplicate variable declaration in image proxy
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

feat: Implement Hybrid ISR for improved performance
  README.md
  astro.config.mjs
  bun.lock
  package.json
  scripts/isr/warm-cache.mjs
  src/pages/api/scheduled/revalidate/index.ts
  src/pages/blog/index.astro
  src/pages/index.astro
  vercel.json
Due: prettier --write, eslint --fix

fix(ci): Update cron schedule to run twice daily suit for hobby plan
  vercel.json
Due: prettier --write
