Repository pickyzz/blog-rebuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,astro}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,mdx,yaml,yml}": [
    "prettier --write"
  ]
}

Update migration plan - build testing completed, image optimization added
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Fix image display in dev - use original URLs instead of Cloudflare Images API
  package.json
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Update migration plan - image display fix in dev mode completed
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Remove Cloudflare Images API - use original Notion URLs for free
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

Update migration plan - removed Cloudflare Images API, now 95% complete
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Add PWA implementation plan for Cloudflare
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Add PWA configuration and meta tags
  astro.config.mjs
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/maskable-icon-512x512.png
  public/pwa-64x64.png
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

Fix PWA import and complete PWA setup
  astro.config.mjs
Due: none

Complete PWA implementation for Cloudflare
  SSR_MIGRATION_PLAN.md
Due: prettier --write

Refactor: blog and tag pages to use Notion API, add safety checks, and enhance PWA support
  SSR_MIGRATION_PLAN.md
  astro.config.mjs
  package-lock.json
  package.json
  public/manifest.webmanifest
  src/components/TOC.astro
  src/layouts/PostDetails.astro
  src/pages/blog/[...page].astro
  src/pages/blog/[slug]/index.astro
  src/pages/tags/[tag]/[...page].astro
  src/pages/tags/index.astro
  src/styles/global.css
  src/styles/typography.css
  src/utils/generateToc.ts
  src/utils/getNotionPosts.ts
  src/utils/notionContent.ts
  tailwind.config.js
  wrangler.toml
Due: prettier --write, eslint --fix

feat: Add blog post dynamic routing and offline page
  astro.config.mjs
  bun.lock
  lighthouse-report.html
  lighthouse-report.json
  public/manifest.webmanifest
  src/pages/blog/[...page].astro
  src/pages/blog/[slug]/index.png.ts
  src/pages/blog/post/[slug]/index.astro
  src/pages/offline.astro
  src/sw.ts
Due: prettier --write, eslint --fix

refactor: Update theme toggle button styles for improved accessibility and responsiveness
  src/components/Header.astro
Due: prettier --write, eslint --fix

refactor: Update tag handling in Notion posts retrieval for improved filtering and consistency
  src/pages/tags/[tag]/[...page].astro
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

refactor: Simplify blog post routing and enhance error handling for dynamic posts
  src/pages/blog/[...page].astro
  src/pages/blog/[slug]/index.astro
Due: prettier --write, eslint --fix

refactor: Update image service configuration to use passthroughImageService for improved performance
  astro.config.mjs
Due: none

refactor: Update Tag component styles for improved layout and consistency; modify archives page to use Notion posts retrieval
  src/components/Tag.astro
  src/pages/archives/index.astro
Due: prettier --write, eslint --fix

refactor: Update configuration and service worker for improved performance and error handling; add support for background sync and enhance cache strategies
  astro.config.mjs
  bun.lock
  example.env
  package.json
  src/sw.ts
Due: prettier --write, eslint --fix

refactor: Enhance theme toggle functionality with icon visibility; update Header component for improved accessibility and layout
  public/toggle-theme.js
  src/components/Header.astro
Due: prettier --write, eslint --fix

refactor: Implement caching for Notion posts and page content; enhance performance and reduce API calls
  SSR_MIGRATION_PLAN.md
  src/utils/getNotionPosts.ts
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

refactor: Enhance caching strategy for Notion posts and content; implement TTL configuration and cache management functions
  astro.config.mjs
  package.json
  src/utils/getNotionPosts.ts
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

refactor: Improve styling and structure for Datetime and Header components; add badge styles in global CSS and extend Tailwind configuration for custom colors
  src/components/Datetime.astro
  src/components/Header.astro
  src/styles/global.css
  tailwind.config.js
Due: prettier --write, eslint --fix

refactor: Enhance Table of Contents functionality with active state highlighting and improve heading extraction from Notion content
  src/components/TOCHeading.astro
  src/layouts/PostDetails.astro
  src/pages/blog/[slug]/index.astro
  src/styles/global.css
Due: prettier --write, eslint --fix

refactor: Enhance code block functionality with Shiki syntax highlighting and copy feature; improve theme awareness and styling for Notion content
  bun.lock
  package.json
  src/layouts/PostDetails.astro
  src/styles/global.css
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

refactor: Update syntax highlighting themes to use 'github-light' for improved readability; disable TOC scroll spy to resolve conflicts
  astro.config.mjs
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

Auto updated with new content
  bun.lock
Due: none

refactor: Remove wrangler.toml configuration file to streamline project setup
  wrangler.toml
Due: none

refactor: Center images in Notion content and typography styles for improved layout
  src/styles/global.css
  src/styles/typography.css
Due: none

refactor: Update .gitignore
  .gitignore
Due: none

refactor: environment variables, add Vercel dependency, and improve pagination logic
  astro.config.mjs
  bun.lock
  example.env
  package.json
  src/components/Pagination.astro
  src/pages/archives/index.astro
  src/pages/blog/[...page].astro
  src/pages/blog/[slug]/index.astro
  src/pages/index.astro
  src/pages/tags/[tag]/[...page].astro
  src/pages/tags/index.astro
  src/scripts/newpost.js
  src/utils/getNotionPosts.ts
Due: prettier --write, eslint --fix

refactor: update preview scripts and add build command in package.json
  package.json
Due: prettier --write

Auto updated with new content
  logs.txt
Due: none

feat: integrate Prism.js for syntax highlighting and remove Shiki
  bun.lock
  package-lock.json
  package.json
  src/styles/global.css
  src/styles/typography.css
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: enhance syntax highlighting with Prism.js themes for light and dark modes
  src/styles/global.css
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: implement responsive image generation and sanitization for Notion content
  src/components/Image.astro
  src/helpers/images.mjs
  src/helpers/sanitize.mjs
  src/libs/notion.js
  src/libs/notion.types.ts
  src/tests/index.spec.ts
  src/tests/notionContent.spec.ts
  src/utils/generateOgImages.tsx
  src/utils/getNotionPosts.ts
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: add service worker configuration and caching strategies, enable prerendering for key pages, and create Vercel headers configuration
  astro.config.mjs
  lighthouse-report.html
  lighthouse-report.json
  package.json
  src/pages/about.astro
  src/pages/archives/index.astro
  src/pages/index.astro
  vercel.json
Due: prettier --write, eslint --fix

feat: streamline SSR logic by removing real-time post fetching and enhancing cache-control headers
  src/pages/blog/[slug]/index.astro
Due: prettier --write, eslint --fix

feat: add Vercel deployment workflow
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .github/workflows/watcher.yml
Due: prettier --write

fix: ci workflow error
  .github/workflows/deploy-vercel.yml
Due: prettier --write

test: workflow
  .github/workflows/deploy-vercel.yml
Due: prettier --write
