Repository pickyzz/blog-rebuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: configure Vercel cron jobs for Hobby plan (2 jobs/day)
  vercel.json
Due: prettier --write

refactor: cache scripts into dedicated files
  package.json
  scripts/cache/clear.js
  scripts/cache/health.js
  scripts/cache/stats.js
Due: prettier --write, eslint --fix

chore: Make search more strict to improve relevance
  src/pages/api/search.json.ts
  src/utils/searchUtils.ts
Due: prettier --write, eslint --fix

refactor: Implement real-time search with debouncing
  public/js/search.client.js
  src/pages/search.astro
Due: prettier --write, eslint --fix

chore: Add data-theme and simplify scrollSmooth class
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

feat: Implement Upstash-based rate limiting
  example.env
  package-lock.json
  package.json
  public/js/search.client.js
  scripts/ratelimit/monitor.js
  src/pages/api/ratelimit/health.ts
  src/pages/api/refresh-cache.ts
  src/pages/api/search.json.ts
  src/pages/api/webhook/refresh.ts
  src/utils/ratelimit/config.ts
  src/utils/ratelimit/upstashRatelimit.ts
  test/ratelimit/upstashRatelimit.test.ts
Due: prettier --write, eslint --fix

refactor: Optimize configuration for free plan limits
  example.env
  src/config.ts
  src/pages/api/health.ts
  src/utils/imageProxyCommon.ts
  src/utils/monitoring/redis-monitor.ts
  vercel.json
Due: prettier --write, eslint --fix

Update [blockId].ts
  src/pages/api/image/[blockId].ts
Due: prettier --write, eslint --fix

Update imageProxyCommon.ts
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

chore: Optimize Unsplash URLs for Free Plan
  example.env
  src/config.ts
  src/pages/api/image/[blockId].ts
  src/utils/imageProxyCommon.ts
Due: prettier --write, eslint --fix

feat: Add comprehensive image error handling and retry mechanisms
  src/components/ImageErrorBoundary.ts
  src/layouts/PostDetails.astro
  src/pages/api/health.ts
  src/pages/api/image/[blockId].ts
  src/scripts/imageMonitor.js
  src/utils/astro-isr/getStaticPaths.ts
  src/utils/notionContent.ts
  src/utils/notionRateLimiter.ts
Due: prettier --write, eslint --fix

fix: monitoring api
  src/pages/api/health.ts
Due: prettier --write, eslint --fix

Fix health API image test and adjust status logic
  src/pages/api/health.ts
Due: prettier --write, eslint --fix

refactor: Adjust S3 image caching and add background refresh
  src/sw.ts
  src/utils/imageProxyCommon.ts
  src/utils/notionImageRefresh.ts
Due: prettier --write, eslint --fix

remove: Cloudflare integration and improve search experience
  .example.env
  bun.lock
  package.json
  public/js/search.client.js
  scripts/cloudflare-purge.mjs
  scripts/vercel-postdeploy-purge.mjs
  src/pages/api/image/lqip/p/[encoded].ts
  src/pages/api/search.json.ts
  src/pages/search.astro
  src/utils/cache/cloudflare-kv.ts
  src/utils/cloudflarePurge.ts
  src/utils/cloudflarePurgeQueue.ts
  src/utils/generateOgImages.tsx
  src/utils/searchUtils.ts
Due: prettier --write, eslint --fix

fix: Add environment detection and validation scripts
  package.json
  scripts/environment/detectEnv.mjs
  scripts/notion-sync/syncFromNotion.ts
  scripts/verify-env.mjs
Due: prettier --write, eslint --fix

fix:theme icons and prevent stack overflow in task queue
  public/toggle-theme.js
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

refactor: post data to access slug directly from post object
  scripts/prebuild-cache.mjs
  src/components/Card.astro
  src/layouts/PostDetails.astro
  src/pages/feed.ts
  src/styles/global.css
  src/tests/feed.spec.ts
Due: prettier --write, eslint --fix

feat: Add GitHub workflows for monitoring Notion database changes
  .github/workflows/notion-monitor-timestamp.yml
  .github/workflows/notion-monitor.yml
Due: prettier --write

Refactor Notion monitoring workflow with extracted scripts
  .github/workflows/notion-monitor-timestamp.yml
  .github/workflows/notion-monitor.yml
  scripts/checkNotionUpdates.js
  scripts/triggerVercelDeploy.js
Due: prettier --write, eslint --fix

fix: workflow error
  .github/workflows/notion-monitor.yml
  scripts/checkNotionUpdates.cjs
  scripts/triggerVercelDeploy.cjs
Due: prettier --write

fix: error workflow
  .github/workflows/notion-monitor.yml
  scripts/checkNotionUpdates.cjs
Due: prettier --write

Update notion-monitor.yml
  .github/workflows/notion-monitor.yml
Due: prettier --write

f*ck workflow
  .github/workflows/notion-monitor.yml
Due: prettier --write

Refactor Notion monitor workflow
  .github/workflows/notion-monitor.yml
  bun.lock
Due: prettier --write

change: use bun
  .github/workflows/notion-monitor.yml
  scripts/checkNotionUpdates.cjs
Due: prettier --write

chore: translated fix
  .github/workflows/notion-monitor.yml
Due: prettier --write

Fix monitor workflow (#1575)
  .github/workflows/notion-monitor.yml
  bun.lock
  scripts/checkNotionUpdates.cjs
Due: prettier --write

style: switch primary font to IBM Plex Sans Thai and update font stack.
  src/layouts/Layout.astro
  src/styles/global.css
Due: prettier --write, eslint --fix

refactor: skip existing image downloads and replace full rebuild with non-destructive directory ensuring.
  public/data/search.json
  scripts/notion-sync/syncFromNotion.ts
Due: prettier --write, eslint --fix

refactor: Migrate post content rendering from Notion to local Markdown, streamline image loading, and update dependencies.
  bun.lock
  package.json
  src/components/Card.astro
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

refactor: Remove PWA configuration, simplify Shiki theme to dark-plus, and remove unused Prettier Tailwind stylesheet.
  .prettierrc.mjs
  README.md
  astro.config.mjs
  package.json
  public/js/search.client.js
  public/js/static-search.js
  public/scripts/code-copy.js
  src/components/Breadcrumb.astro
  src/components/Card.astro
  src/components/Image.astro
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/about.astro
  src/pages/blog/[slug]/index.astro
  src/pages/blog/index.astro
  src/pages/blog/page/[page].astro
  src/pages/feed.ts
  src/pages/index.astro
  src/pages/search.astro
  src/pages/tags/[tag]/[...page].astro
  src/pages/tags/index.astro
  src/styles/codeblocks.css
  src/styles/global.css
  src/tests/about-image.spec.ts
  src/tests/blur-sharp.spec.ts
  src/tests/feed.spec.ts
  src/tests/playwright-image-throttle.spec.ts
  src/tests/search.e2e.spec.ts
  src/utils/astro-isr/getStaticPaths.ts
  src/utils/cache/memory-cache-optimized.ts
  src/utils/generatePlaceholder.ts
  src/utils/notionContent.ts
  src/utils/purgeList.ts
  src/utils/searchUtils.ts
Due: prettier --write, eslint --fix

feat: Implement real-time search with debounce, remove search input `required` attribute, and slightly increase prose line height.
  bun.lock
  public/js/static-search.js
  src/pages/search.astro
  src/styles/typography.css
Due: prettier --write, eslint --fix

style: Adjust line-height to 1.8 for improved readability across content, typography, and code blocks.
  src/styles/codeblocks.css
  src/styles/global.css
  src/styles/typography.css
Due: none

chore: Update `astro` to `5.16.6` and `@typescript-eslint` packages to `8.50.1`.
  bun.lock
  src/utils/og-templates/post.ts
  src/utils/og-templates/site.ts
Due: prettier --write, eslint --fix

feat: Configure Vercel build commands to use Bun and enhance Notion sync script's YAML string escaping.
  .gitignore
  public/data/search.json
  scripts/notion-sync/syncFromNotion.ts
  tsconfig.json
  vercel.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,astro}) or (any of: *.{json,md,mdx,yaml,yml})
  eslint --fix: any of: *.{js,ts,jsx,tsx,astro}
