Repository pickyzz/blog-rebuild: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: deploy ci
  .github/workflows/deploy-vercel.yml
Due: prettier --write

ci: fix Vercel CLI installation step to deployment workflow
  .github/workflows/deploy-vercel.yml
Due: prettier --write

fix: improve Vercel deployment workflow
  .github/workflows/deploy-vercel.yml
Due: prettier --write

fix: ci
  .github/workflows/deploy-vercel.yml
Due: prettier --write

ci: remove workflow use hook instead
  .github/workflows/deploy-vercel.yml
Due: prettier --write

refactor: remove LinkedIn entry from SOCIALS and delete unused content configuration files
  src/constants.ts
  src/content.config.ts
  src/content/blog/.gitignore
Due: prettier --write, eslint --fix

Auto updated with new content
  bun.lock
Due: none

feat: enhance RSS feed generation with Notion integration and add tests
  astro.config.mjs
  logs.txt
  src/constants.ts
  src/pages/feed.ts
  src/tests/feed.spec.ts
  src/utils/generateOgImages.tsx
Due: prettier --write, eslint --fix

feat: add reading time calculation and improve error handling in PostDetails layout
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/blog/[slug]/index.astro
  src/utils/remark-reading-time.mjs
Due: prettier --write, eslint --fix

refactor: update slugify function to remove dependency on lodash and improve regex handling
  .gitignore
  package.json
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/blog/[slug]/index.astro
  src/utils/slugify.ts
Due: prettier --write, eslint --fix

chore: Enhance SEO and accessibility features across components
  .gitattributes
  .gitignore
  astro.config.mjs
  bun.lock
  package-lock.json
  src/components/Card.astro
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/index.astro
  src/utils/notionContent.ts
Due: prettier --write, eslint --fix

feat: add SEO enhancements
  astro.config.mjs
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/about.astro
  src/pages/blog/[...page].astro
Due: prettier --write, eslint --fix

feat: add postbuild script for pagefind integration and clean up imports in PostDetails layout
  package.json
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

feat: add Vitest for unit testing and setup mocks for Notion transformers
  .gitignore
  package-lock.json
  package.json
  src/tests/__snapshots__/notionContent.spec.ts.snap
  src/tests/feed.spec.ts
  src/tests/setup-vitest.ts
  src/utils/remark-reading-time.mjs
  vitest.config.ts
Due: prettier --write, eslint --fix

refactor: remove search functionality and associated assets
  bun.lock
  package.json
  public/manifest.webmanifest
  src/assets/icons/IconSearch.svg
  src/components/Header.astro
  src/pages/search.astro
  src/tests/index.spec.ts
Due: prettier --write, eslint --fix

feat: implement search functionality with dedicated page and API
  bun.lock
  public/manifest.webmanifest
  src/assets/icons/IconSearch.svg
  src/components/Header.astro
  src/pages/api/search.json.ts
  src/pages/search.astro
  src/tests/index.spec.ts
Due: prettier --write, eslint --fix

feat: enhance heading ID generation and slugify function for better Unicode support
  src/layouts/PostDetails.astro
  src/utils/notionContent.ts
  src/utils/slugify.ts
Due: prettier --write, eslint --fix

feat: add TOC scroll highlighting functionality for improved navigation
  src/layouts/PostDetails.astro
Due: prettier --write, eslint --fix

feat: prepare blog project for production deployment
  README.md
  package.json
  src/helpers/throttle.ts
  src/libs/getLogs.js
  src/libs/notion.js
  src/pages/api/search.json.ts
  src/tests/setup-vitest.ts
  src/types/blog.ts
  src/types/index.ts
  src/utils/generateOgImages.tsx
  src/utils/getNotionPosts.ts
  src/utils/getPostsByGroupCondition.ts
  src/utils/getPostsByTag.ts
  src/utils/getPostsWithRT.ts
  src/utils/getSortedPosts.ts
  src/utils/getUniqueTags.ts
  src/utils/notionContent.ts
  src/utils/postFilter.ts
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 9: Incomplete URL scheme check
  src/helpers/sanitize.mjs
Due: none

Potential fix for code scanning alert no. 11: Incomplete multi-character sanitization
  src/helpers/sanitize.mjs
Due: none

fix: improve iframe sanitization to allow only specific YouTube embeds
  src/helpers/sanitize.mjs
Due: none

feat: integrate isomorphic-dompurify for enhanced HTML sanitization
  bun.lock
  package-lock.json
  package.json
  src/helpers/sanitize.mjs
Due: prettier --write

refactor: replace DOMPurify with custom sanitization logic for improved security
  src/helpers/sanitize.mjs
Due: none

Potential fix for code scanning alert no. 22: Incomplete multi-character sanitization
  package.json
  src/helpers/sanitize.mjs
Due: prettier --write

Fix TailwindCSS version conflict: downgrade to v3.4.17 for compatibility
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,astro}) or (any of: *.{json,md,mdx,yaml,yml})
  eslint --fix: any of: *.{js,ts,jsx,tsx,astro}
